* {
    font-family: 'Source Sans Pro', sans-serif;
}
.row {
    margin: 0 !important;
}
body {
    background-color: #111;
    color: #f1f1f1;
}
h2 {
    color: #0ea79a;
    font-weight: 700;
    font-size: 3em;
    margin:20px 0;
}
h3, h4 {
    color: #333;
    font-weight: 700;
}
.text-center {
    text-align: center;
    padding: 20vh 0;
}
p {
    font-size: 1.8em;
    line-height: 1.2em;
    margin: 0;
}
.social {
    margin-top: 40px;
}
.social ul {
    list-style-type: none;
}
.social ul li {
    display: inline;
    padding: 10px;
}
.social a {
    color: #0ea79a;
}
i {
    font-size: 32px;
}
.cheatSheet p {
    font-size: 1em;
    line-height: 1.2em;
    margin: 0;
}
